<%- include("include/header");%>

<main id="main">
  <div id="contents">
    <h2 class="title"><%= title %></h2>

    <div class="subContents">
      <div class="container">
        <div class="board">
          <div class="table view">
            <div class="thead">
              <p class="boardTitle"><%= data.title %></p>
              <dl>
                <dt>작성자</dt>
                <dd><%= data.userName %></dd>
                <dt>등록일</dt>
                <dd><%= data.date %></dd>
              </dl>
            </div>
            <div class="tbody">
              <div class="contents"><%= data.desc %></div>
            </div>
          </div>
          <div class="btns">
            <!-- <a href="javascript:history.back()" class="btn confirm">확인</a>
            <a href="javascript:history.back()" class="btn cancel">뒤로가기</a> -->
            <a href="/modifyFree/<%= data.id %>" class="btn confirm">수정하기</a>
            <a href="/" class="btn confirm">메인페이지</a>
            <a href="javascript:history.back()" class="btn cancel">뒤로가기</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<script>
  // const randomData = ["citypop", "시티팝", "일본시티팝", "한국시티팝"];
  // function randomValueFromArray(array) {
  //   const random = Math.floor(Math.random() * array.length);
  //   return array[random];
  // }
  // let randomSearch = randomValueFromArray(randomData);

  // let apikey = "AIzaSyDjHlSZzZHZzJghpeo4Kxv0waYgZ2Nv640";

  // // let keyword = "citypop";
  // let keyword = randomSearch;
  // console.log(randomSearch);
  // const musicList = $("#contents .musicList");
  // $.ajax({
  //   url: "https://www.googleapis.com/youtube/v3/search",
  //   type: "get",
  //   dataType: "json",
  //   data: { part: "snippet", key: apikey, q: keyword, maxResults: 100, type: "video", videoEmbeddable: "true" },
  // }).done(function (response) {
  //   console.log(response);
  //   const youtubeList = response.items;
  //   let tempHtml = "";
  //   $.each(youtubeList, function (idx, item) {
  //     thumbnail = item.snippet.thumbnails.medium.url;
  //     videoId = item.id.videoId;
  //     tempHtml += `<li class="musicItem">
  //         <a href="https://www.youtube.com/watch?v=${videoId}">
  //           <div class="img"><img src="${thumbnail}" alt="thumbnail"/></div>
  //             <span class="musicTitle">${item.snippet.title}</span>
  //         </a>

  //       </li>`;
  //   });
  //   musicList.html(tempHtml);
  // });
</script>
<%- include("include/footer");%>
