<%- include("include/header");%>

<main id="main">
  <div id="contents">
    <h2 class="title"><%= title %></h2>

    <div class="subContents">
      <!-- <h3 class="contentsTitle">견적문의</h3> -->

      <div class="container">
        <div class="board">
          <div class="table list">
            <div class="thead">
              <span scope="column" class="column" style="width: 5%">번호</span>
              <span scope="column" class="column">제목</span>
              <span scope="column" class="column" style="width: 15%">작성자</span>
              <span scope="column" class="column" style="width: 15%">날짜</span>
            </div>
            <ul class="tbody">
              <% list.forEach((item,idx) => { %>
              <li class="row">
                <span class="no column"><%= item.id %></span>
                <span class="boardTitle column">
                  <a href="/freeDetail/<%= item.id %>"><%= item.title %></a>
                </span>
                <span class="writer column" data-label="작성자"><%= item.userName %></span>
                <span class="date column" data-label="날짜"><%= item.date %></span>
              </li>
              <% }) %>
            </ul>
          </div>
        </div>

        <%- include("include/pagination");%>
      </div>
    </div>

    <% if(userInfo) { %>
    <div class="insertBtn">
      <a href="/freeInsert">글 쓰기</a>
    </div>
    <% } else { %> <%}%>
  </div>
</main>

<%- include("include/footer");%>
